/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --c-nav: #ff69b4;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET and HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: var(--c-nav);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
  display: block;
}

.navbar-nav .nav-link:hover {
  background-color: var(--c-brand);
  color: white;
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
}

.navbar-nav .nav-link.active:hover {
  color: white;
}

.dropdown-menu {
  border-radius: 10px;
}
.dropdown-item {
  color: var(--c-nav);
  display: block;
}

.dropdown-item:hover {
  background-color: var(--c-brand);
  color: white;
}
/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: white;
}

/* HERO */
#hero {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/planet_light_spots_space_86643_1920x1080.jpg);
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* intro */
.intro {
  text-align: justify;
}

/* SERVICE */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* COUNTER */
#counter {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/397989.jpg);
  background-position: center;
  background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
  background-color: var(--c-brand);
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%;
}

/* REVIEW */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-brand);
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: white;
  transform: rotate(45deg);
}

/* Language */
.lang-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.lang:hover .lang-content {
  opacity: 1;
  bottom: 24px;
}

/* elearn */
#calculus {
  margin-bottom: 50px;
}
#diskrit {
  margin-bottom: 50px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: white;
}

/* FAQ */
.questions-container {
  max-width: 800px;
  margin: 0 auto;
}

.question {
  border-bottom: 1px solid var(--c-brand);
}
.question button {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border: none;
  outline: none;
  font-size: 22px;
  color: var(--c-dark);
  font-weight: 700;
  cursor: pointer;
}
.question p {
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
}
.d-arrow {
  transition: transform 0.5s ease-in;
  color: var(--c-nav);
}

/*add this class when click*/
.question p.show {
  max-height: 200px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}
.question button .d-arrow.rotate {
  transform: rotate(180deg);
}

/* PRICE */

.pricing-area {
  padding-bottom: 3rem;
  margin-bottom: 10px;
}
.single-price {
  padding-bottom: 25px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
  background: var(--c-brand-light);
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
}
.single-price:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
}
.single-price::before {
  content: "";
  width: 100%;
  height: 350px;
  background: var(--c-brand);
  position: absolute;
  top: -150px;
  left: 0;
  transform: skewY(-20deg);
}
.single-price .price-header {
  padding: 20px 20px 60px;
  text-align: left;
  position: relative;
}
.single-price .title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.single-price .price-value {
  display: inline-block;
  width: 170px;
  height: 110px;
  padding: 15px;
  border-top: none;
  border-bottom: none;
  position: relative;
}
.single-price .value {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 5px solid #262626;
  border-top: none;
  border-bottom: none;
  z-index: 1;
  position: relative;
}
.single-price .value::before,
.single-price .value::after {
  content: "";
  width: 97px;
  height: 97px;
  background: #fff;
  border: 5px solid #262626;
  border-bottom: none;
  border-right: none;
  position: absolute;
  top: -48px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value::after {
  border-right: 5px solid #262626;
  border-bottom: 5px solid #262626;
  border-top: none;
  border-left: none;
  top: auto;
  bottom: -48px;
}
.single-price .currency {
  display: inline-block;
  font-size: 30px;
  margin-top: 7px;
  vertical-align: top;
}
.single-price .amount {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  line-height: 65px;
}
.single-price .amount span {
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  vertical-align: top;
  margin-top: -7px;
}
.single-price .serv {
  display: block;
  font-size: 16px;
  line-height: 0;
}
.single-price .deals {
  padding: 70px 0 0 0;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.single-price .deals li {
  padding: 7px 0;
  font-size: 16px;
  color: #808080;
  position: relative;
}

.bi-check-lg {
  color: green;
}

.bi-x-lg {
  color: red;
}
